/* Form */
body {
    background:linear-gradient(to right, #333399,#ff00cc);
    background-color: black;
    font-family: 'cascadia code', Consolas, 'Courier New', monospace;
}
#welcome{
    padding:40px 0;
    color:#fff;
    text-align: center;
    flex-direction: column;
}
.form{
    width: 35%;
    height:23%;
    color:blue;
    margin: 25px auto 0 auto;
    padding: 40px 76px 40px 76px;
    background-color:rgba(0, 0, 0, 0.74);
    border-radius: 14px;
    font-size: 16px;
    box-shadow: blue;
    border: 3px solid blue;

}
.input_form {
    display: flex;
    margin-bottom: 18px;
    flex-direction: column;
    color:blue;

}
.input_form input {
    margin-top: 6px;
    border: 1px solid blue;
    height:18px;
    font-size:15px;
    font-family:'cascadia code', Consolas, 'Courier New', monospace ;
}
.input_form input:hover{
    border: 1px solid blue;
    background-color: rgb(235, 175, 210);
}
.play{
    margin-top:6px;
    color:blue;
    font-size: 18px;
    background-color:white;
    border-radius:4px;
    border: 1px solid white;
}
.play:hover{
    color:white;
    background-color: blue;
    border: 1px solid blue;
}
.alert{
    width: 200px;
    margin-top:12px;
    color :blue;
    font-size: 8px;
}


img{

    border-radius: 200px;
    display: inline-block;
    position: relative;
    width:50px;
    height: 50px;
    margin:20px 0 0 30px ;
}

h4{
    text-align: center;
    padding-top: 30px;
    font-weight: 900;
    color:#fff;
}